ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    sensor_timeout: 0.1

    two_d_mode: true
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    odom0: /odom_raw
    odom0_config: [
      true,  true,  false,   # x, y, z
      false, false, true,    # roll, pitch, yaw
      true,  false, false,   # vx, vy, vz
      false, false, true,    # vroll, vpitch, vyaw
      false, false, false
    ]

    odom0_differential: false
    odom0_relative: false